extends layout

block content
  form(method='GET' action='/search')
    .form-group
      label(for='search_term') Search:
      input#search_term.form-control(type='text', name='search_term', value=query || '')
    button.btn.btn-primary(type='submit') Search
  hr
  .container
    .row
      .col-md-9
        h2.questiontitle= question.Title
        p
          em
            if question.Tags && question.Tags.split(' ').length
              strong Tags:&nbsp
              for tag in question.Tags.split(' ')
                span.questiontag= tag
                span &nbsp&nbsp
        p
          em
            strong Votes:&nbsp
            != question.VoteCount
            strong &nbsp Asked:&nbsp
            != question.CreatedFormatted 
            strong &nbsp by:&nbsp
            != question.DisplayName
        .postbody.hsmaller !{question.Body}
        .comment
          for questionComment in questionComments
            hr
            p !{questionComment._source.Text} - <em>on !{questionComment._source.CreatedFormatted} by !{questionComment._source.DisplayName}</em>
        for answer in answers
          hr
          p
            em
              if (question.AcceptedAnswerId == answer._id)
                span &#10004;&nbsp&nbsp
              strong Votes:&nbsp
              != answer._source.VoteCount
              strong &nbsp Answered:&nbsp
              != answer._source.CreatedFormatted
              strong &nbsp by &nbsp
              != answer._source.DisplayName
          .postbody.hsmaller !{answer._source.Body}
          .comment
            for answerComment in answer._source.Comments
              hr
              p !{answerComment._source.Text} - <em>on !{answerComment._source.CreatedFormatted} by !{answerComment._source.DisplayName}</em>
        if errors
          ul
            for error in errors
              li!= error.msg || error
      .col-md-3
        p
          em
            strong View Count:&nbsp
            != question.ViewCount || '0'
        if linkedPostsValues.length
          hr
          h3 Linked
          for post in linkedPostsValues
            p <a class='postlink' href=!{'/question/' + post.Id}>!{post.Title}</a>
        if relatedPostsValues.length
          hr
          h3 Related
          for post in relatedPostsValues
            p <a class='postlink' href=!{'/question/' + post.Id}>!{post.Title}</a>
